header
    .menu
        ul
            li.menu__item
                a(href="/index.html")
                    img(src="../images/menu_about.png", alt="about")
            li.menu__item
                a(href="/index.html")
                    img(src="../images/menu_usage.png", alt="usage")
            li.menu__item
                a(href="/index.html")
                    img(src="../images/menu_producer.png", alt="producer")
